
body
{
/*	height:6100px*/
}
.container
{
	width:900px;
	margin: auto;
}
.clear
{
	clear: both;
}

/* start header */
.header .slider
{
	background-image:url(images/slider.jpg);
	background-size: cover; /* CSS3 */
	height: 400px;
	
}

.header .slider .container  h2
{	margin:0;
	color:rgb(51, 155, 127);
	position: relative;
	top: 125px;
	width:500px;
	left: 400px;
	letter-spacing: 4px;
	font-weight: 800;
	font-family: magneto ;
	border-bottom: 1px solid #2b2b2b;
	font-size: 20px;
}
.header .slider .container button
{
	top: 200px;
	left:550px;
	position: relative;
	background: none;
	color: azure;
	padding: 11px 30px;
	font-weight: 700;
	letter-spacing: 1.6px;
}
.header .slider .container button:hover
{
	color: #cacaca;
	border-color:#cacaca;
	border-width: 2px;
	cursor: pointer;
	border-style:ridge;
		
}

.header .navbar
{
	background-color: #252f31;
	color:#d8d8d8;
	overflow: hidden;
	height: 80px;
	
}
 .logo 
{
	background-color: #777777;
	padding: 4px 9px;
	position: relative;
	margin-top: 17px
	
}


.header .navbar h2{
	float: left;
	font-family: sans-serif;
	top: 7px;
	position: relative;
}

.header .navbar h2 span{color:#23cc71}

.header .navbar ul
{
	list-style: none;
	padding-left: 0px;
	overflow:hidden;
	margin-top:9px ;
	float: right;
}
.header .navbar ul li 
{
	float: left;
	padding: 10px;
	font-family:fantasy;
	letter-spacing: -0.5px
}

.header .navbar ul li a
{
	color:#d1d1d1;
	float: left;
	padding: 10px;
	font-family:fantasy;
	letter-spacing: -0.5px;
	text-decoration: none;
	font-size: 15px;
}

.header .navbar .container ul .active a,
.header .navbar ul li a:hover
{
	color:#30B576;
	cursor: pointer;
}
.header .navbar .container ul .active a
{
	border-bottom: 2px solid;
	
}


/* end header */
/* start features */
.features
{
	overflow: hidden;
	padding: 50px 0px 60px;
	
	
}
.features .feat
{
	float: left;
	width: 33.333%;
	height:150px;
	color: #c0c0c0;
}

.features .feat p
{
	line-height: 1.5;
}
.features .feat h2
{
	color:#747474;
	text-transform: uppercase;
	font-family: sans-serif
}

/*end features */
/* start about me */
.about-me
{
	background-color: #F2F2F2;
	overflow:hidden;
	height: 480px;

}

.about-me .image
{
	float: left;
	width: 40%

}
.about-me .container .image
{
	width: 40%;
}
.about-me .container .info
{
	width: 60%;
}


.about-me .info
{
	float: right;
	

}
.about-me .image img
{
	width:100%;
	height: 100%;
	
}
.about-me .container .info h2
{
	color:#4e4e4e;
	margin:30px 0 0 60px;
	font-size: 30px;
	font-family: sans-serif
}
.about-me .container .info >p
{
	margin-left: 60px;
	color: #8a8a8a;
	
}
.about-me .container .info .content
{
	margin:0px 0 0 32px;
	font-size: 17px;
	color: #8a8a8a;
	
	line-height: 12px;
	overflow: hidden

}
.about-me .container .info .content .icon
{
	float: left;
	width: 25%;
	position: relative;
	top: 15px;
	
}
.about-me .container .info .content .icon img
{
	width: 35px;
}
.about-me .container .info .content .text
{
	float: left;
	width: 75%;
}
.about-me .container .info .content .text h3
{
	color: #747474;
	margin-bottom: 0px;
	font-family: sans-serif;
	letter-spacing: -0.5px;
	font-weight: 900;
}

.about-me .container .info .hobbies p
{
	color: #8a8a8a;
	line-height: 22px;
}

.about-me .info .hobbies 
{
	margin: 30px 0 0 0px;
	color:#4e4e4e;

}
.about-me .info .hobbies  .content
{
	float: left;
	width: 44%;
	min-height: 110px;
	overflow: hidden;
}
/* end about me */
/* start my skills*/
	.my-skills 
{
	padding: 30px 0 40px 0 ;
	overflow: hidden;
}
.my-skills .container .skills , 
.my-skills .container .progress
{
	width: 50%;
	float: left;
}
.my-skills .skills h2
{
	color:#656565;
	font-family: sans-serif;
}
.my-skills .skills p
{
	color:#8a8a8a;
	line-height: 26px
}

.my-skills .container .skills button:hover 
{
	background-color: #eeeeee;
	cursor: pointer;
}
.my-skills .progress .tech
{
	margin-left: 40px;
}
.my-skills .progress .tech .back
{
	background-color: #f2f2f2;
	width:;
	height: 30px
}
.my-skills .progress .tech .success1
{
	width: 50%;
	height: 100%;
	background-color: #32CA6E;
}
.my-skills .progress .tech .success2
{
	width: 90%;
	height: 100%;
	background-color: #32CA6E;
}
.my-skills .progress .tech .success3
{
	width: 75%;
	height: 100%;
	background-color: #32CA6E;
}
.my-skills .progress .tech .success4
{
	width: 60%;
	height: 100%;
	background-color: #32CA6E;
}
.my-skills .progress .tech  h4
{
	text-align: right;
	position: relative;
	top: 5px;
	color: white;
	font-size: 18px;
	font-weight: 600;
}
.my-skills .progress .tech h3
{
	color: #555;
}

/* end my skills*/
/* start Resume */
.resume
{
	padding: 70px 0 70px;;
	background-color: #f2f2f2;
	overflow: hidden;
	text-align: center
	
	
}
.resume .container h2
{ 
	text-align: center;
	color: #656565;	
	font-family: sans-serif;
}
.resume .container p
{
	text-align: center;
	color: 	 #8a8a8a;
	
}
.resume .container button
{
	position: relative;
	top: 30px;

	
}
.resume .container button:hover
{
	background-color: #ffffff;
	cursor: pointer;
}

/* end Resume */
/* start my education*/
	.my-education
{
	padding-top: 30px 0px;
	overflow: hidden;
}


.my-education .main h2
{
	color:#656565;
	font-family: sans-serif;
	
}
.my-education .main p
{
	color:#8a8a8a;
	line-height: 26px
}
.my-education .container .main
{
	width: 50%;
	float: left;
	margin-right:5%; 
}
.my-education .container .exp 
{
	width: 45%;
	float: left;
	margin-top: 20px
	
}
.my-education .container .exp h3
{
	color:#656565;
	font-family: sans-serif;;
	margin-bottom: 11px;
	margin-top: 50px
}
.my-education .container .exp span
{
	display: block;
	margin-bottom: 8px;
	color: #8a8a8a
}
.my-education .container .exp hr
{
	background-color: #999;
	height: 1px;
	border: 0;
	margin:15px 0; 
}
.my-education .container .exp span:last-of-type
{
	background-color: #55cc57;
	color: white;
	font-weight: 900;
	display: inline-block;
	padding: 6px 10px;
	font-size: 12px
}
.my-education .container .exp p
{
	color: #8a8a8a;
	margin-bottom: 30px;
}
/* end my education*/
/* start testimonials */
.testimonials
{
	margin-top: 80px;
	background-color: #f2f2f2;
	overflow: hidden;
	text-align: center;
	padding: 50px 0 60px;
}
.testimonials .container p
{
	text-align: center;
	color: 	 #8a8a8a;
	line-height: 1.6;
	font-size: 18px;
	font-style: italic;

}
.testimonials  h4
{
	
	letter-spacing: 2px;
	
}
.testimonials  ul
{
	list-style: none;
	text-align: center;
	padding-left: 0px;
}
.testimonials  ul li
{
	width: 9px;
	height: 9px;
	border: 2px solid #55cc57;
	display: inline-block;
	border-radius: 100px;
}

.testimonials ul .active
{
	background-color: #55cc57;
}
.testimonials  ul li:hover
{
	background-color: #55cc57;
	cursor: pointer;
	
}
/* end testimonials */
/* start portfolio*/
.portfolio
{
	padding: 50px 0px;
	text-align: center;
	
}
.portfolio h2
{
	color:#656565;
}
.portfolio p
{
	color:#8a8a8a;
	margin-bottom: 50px;
}
.portfolio .our-work
{
	overflow: hidden;
}
.portfolio .container .our-work .work-img
{
	float: left;
	width: 33.3333%;
	margin: 15px 0px;
	
}
.portfolio .container .our-work .work-img img
{
	width: 90%;
	box-shadow:5px 5px 5px 5px;
	
}
.portfolio .container .our-work .work-img img:hover
{
	
	
}

/* end portfolio*/
/* start contact me*/
.contact
{
	background-color:#252f31;
	overflow: hidden;
	padding-top: 45px;
	padding-bottom: 70px
	
	
}
.contact h2
{
	color: #FFF;
	font-family: sans-serif;
}
.contact p
{
	color:#6A6E71;
	line-height: 1.6;
}

.contact .info

{
	width: 50%;
	float: left;
	margin-right: 5%;
}
.contact .form
{
	width: 45%;
	float: left;
	padding-top: 45px
}
.contact p strong
{
	color:#D1D6DA;
}
.contact .form label
{
	color:#D1D6DA;
	display: block;
	margin-bottom: 10px;
	
}
.contact .form input[type="text"] ,
.contact .form input[type="email"]
{
	width: 90%;
	height: 35px;
	background-color: #5c5f62;
	border-width: 0px;
	margin-bottom: 30px;
	color:white;
	font-weight: bold;
}
.contact .form input[type="submit"]
{
	background-color: #191E22;
	color: #d1d1d1;
	padding: 12px 25px;
	font-weight: bold;
	border: none;
	font-family: sans-serif;
	letter-spacing: -0.5px;

}
.contact .form input[type="submit"]:hover
{
	background-color: #464646;
	cursor: pointer;
}
.contact .form input:focus
{
	border: 2px solid #59c95b
}
.contact .form textarea
{
	background-color:#5c5f62;
	border-width: 0px;
	width:90%;
	height:220px;
	margin-bottom: 20px;
	color:white;
	font-weight: 300;
}
.contact .form textarea:focus
{
	border: 2px solid #59c95b
}
/* end contact me*/
/* start footer*/
.footer
{
	background-color:#191E22;
	color: #6A6E71;
	text-align: center;
	padding: 20px 0px;
	height: 70px;
	overflow: hidden;
}
.footer span
{
	display: inline-block;
	font-family: sans-serif;
	font-size: 12px;
	letter-spacing: 1.5px;
	
}
.footer ul
{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0px;
	
	
}
.footer ul li 
{
	display: inline;
	margin-left: 10px

}
.footer ul li a
{
	color: grey;
	text-decoration: none;
}


.footer ul li i:hover
{
	color: white;
	cursor: pointer;
}


/* end footer*/

/* my framework*/
.my-button
{
	color: #55cc57;
	background: none;
	border : 3px solid #55cc57;
	font-weight: 800;
	letter-spacing: -1px;
	margin:10px 0 30px ;
	padding: 10px 15px ;
}